body {
    background-color: red;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main aside"
     "footer footer footer";

}
header a{
    display: none;
}