header{
    background-color: red;
    color: black;
    padding: 20px;
    grid-area: header;
    font-size: large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}
main{
    grid-area: main;
    background-color: aliceblue;
    color: black;
    padding: 20%;
}

nav{
    grid-area: nav;
    background-color: aquamarine;
    color: black;
}
aside{
    grid-area: aside;
    background-color: greenyellow;
    color: black;
    font-size: large;
}
footer{
    grid-area: footer;
    background-color: bisque;
    color: black;
    font-size: large;
}
body{
    display: grid;
}